#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fraseAuto {
  border-radius: 10px;
  margin-bottom: -235px;
  margin-top: 90%;
  background-color: #539df2a3;
}


.card {
  padding: 2em;
}



/* Media queries para resoluciones de notebooks */

/* Resolución de 1366x768 (pantalla de 13-14 pulgadas) */
@media (max-width: 1366px) {
  #root {
    max-width: 1000px;
  }
  .fraseAuto {
    margin-top: 40%;
  }
}

/* Resolución de 1600x900 (pantalla de 15-16 pulgadas) */
@media (max-width: 1600px) {
  #root {
    max-width: 1200px;
  }
  .fraseAuto {
    margin-top: 70%;
  }
}

/* Resolución de 1920x1080 (pantalla de 17-18 pulgadas) */
@media (max-width: 1920px) {
  #root {
    max-width: 1400px;
  }
  .fraseAuto {
    margin-top: 20%;
  }
}